*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #707070;
  font-family: "Mabry Pro";
  font-size: 2.3vh;
}


@font-face {
  font-family: "Mabry Pro";
  src: url("../resources/font/MabryPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Mabry Pro M";
  src: url("../resources/font/MabryPro-Medium.otf") format("opentype");
}

body{
  overflow: hidden;
  height: 100%;
  width: auto;
  padding: 17.07vh 5vw 9.75vh 5vw;
  display: flex;
  flex-direction: row;
}

h1{
    font-family: "Mabry Pro M";
    font-weight: normal;
    margin-bottom: 9.7vh;
    font-size: 4vh;
}

h2{
  font-family: "Mabry Pro";
  font-weight: normal;
  margin-bottom: 4vh;
  font-size: 2.6vh;
  cursor: pointer;
  width: 20vh;
}

#column1{
  position: relative;
  width: 30%;
  height: 73.18vh;
}

.menuvoice{
  margin-bottom: 2.6vh;
  max-height: 2.6vh;
  overflow: hidden;
}

.menuvoice.open{
    max-height: 100vh;
}

.menuvoice h2:hover{
  
}

.menuvoice li{
  cursor: pointer;
  list-style: none;
  padding: 0 0 2vh 2.6vh ;
}

.menuvoice li:hover{
  cursor: pointer;
  list-style: none;
  padding: 0 0 2vh 2.6vh ;
}

a{
  position: absolute;
  bottom: 4.9vh;
  text-decoration: none;
}

#column2{
  width: 70%;
  height: 73.18vh;
  background-image: url("../resources/media/covers/cover1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
