*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #707070;
  font-family: "Mabry Pro";
  font-size: 2.3vh;
}


@font-face {
  font-family: "Mabry Pro";
  src: url("../resources/font/MabryPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Mabry Pro M";
  src: url("../resources/font/MabryPro-Medium.otf") format("opentype");
}

body{
  height: 100%;
  width: auto;
  padding: 17.07vh 5vw 9.75vh 5vw;
}

h1{
    font-family: "Mabry Pro M";
    font-weight: normal;
    margin-bottom: 9.7vh;
    font-size: 4vh;
}

.clr{
  clear: both;
}

#column1{

  width: 30%;
  height: 73.18vh;
  position: fixed;
}

.menuvoice{
  cursor: pointer;
  margin-bottom: 3vh;
  max-height: 3.5vh;
  overflow: hidden;
  position: relative;
}

.menuvoice.open{
    max-height: 100vh;
}

h2{
  transition: border-color .2s;
  font-family: "Mabry Pro";
  font-weight: normal;
  margin-bottom: 3.8vh;
  font-size: 2.6vh;
  cursor: pointer;
  float: left;
  padding-bottom: .2vh;
  border-bottom: .2vh solid rgba(112,112,112, 0);
}


.menuvoice a{
  transition: border-color .2s;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: .2vh;
  margin: 0 0 2vh 3.7vh ;
  float: left;
  border-bottom: .2vh solid rgba(112,112,112, 0);
}

a{
  text-decoration: none;
}

#about:hover,
.menuvoice a:hover,
h2:hover{
  border-color: rgba(112,112,112, 1);
}

.menuvoice a:last-child{
  margin-bottom: 1vh;
}

#about{
  transition: border-color .2s;
  position: absolute;
  bottom: 0;
  text-decoration: none;
  padding-bottom: .2vh;
  border-bottom: .2vh solid rgba(112,112,112, 0);
}


#column2{
  margin-left: 30%;
  width: 70%;
  height: 73.18vh;
  background-image: url("../resources/media/covers/cover1.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

#column2ab{
  margin-left: 30%;
  width: 70%;
  height: 73.18vh;
}

#text{
  display: block;
  width: 36vw;
}

#text li{
  font-size: 2.6vh;
  line-height: 3.6vh;
  padding-bottom: 2.3vh;
  list-style-type: decimal;
  list-style-position: inside;
}

.chiusino{
  font-size: 2.3vh;
  line-height: 3.6vh;
}

.riportino{
  padding-left: 3.6vh;
  font-size: 2.6vh;
  line-height: 3.6vh;
}

svg{
  width: 4vh;
  height: 2.6vh;
  overflow: visible
}

.logo{
  fill:none;
  stroke: #000;
  stroke-width: .25vh;
  stroke-linecap:round;
}
